h1.titulo{
    text-align: center;
}

h3.subtitulo{
    text-align: center;
    counter-reset: contar1;
}

p.negreta{
    font-weight: bold;
    text-align: center;
}

p.contar1{
    counter-increment: contar1;
    content: counter(contar1) ". ";
    
}

td{
    border: blue 1px solid;
    width: 300px;
}